.container{
    margin-left: 45%;
    margin-right:45%;
}

.sectionTitle{
    padding-top: 20px;
}

.error{
    color:red;
    font-weight: bold; 
}

.title{
    width:30%;
    margin-left:20%;
    padding-top: 5%;
}