#components-dropdown-trigger-mode .Header-navbar
{
    background-color: #ffffff;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    
}


.Header-logo
{
        align-self: right;
        display: block;
        margin-left: 10;
        margin-right: auto;
        width: 200 px;
        
        
}
